.navbar-container {
    margin-top: 100px;
    border-top: 1px solid rgba($color: grey, $alpha: 0.1);
    background: white;
    box-shadow: 0 2px 7px rgba(128, 128, 128, 0.5);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    .navbar-box {
        margin: 10px 30px 40px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
 
        .navbar-wrap:not(.active) {
            color: grey;
            text-align: center;
            .navbar-icon {
            }
            .navbar-font {
                font-size: 10px;
            }
        }
        .navbar-wrap.active {
            color: aqua;
            text-align: center;
            .navbar-icon {
            }
            .navbar-font {
                font-size: 10px;
            }
        }
    }
}
