.my-info-page-container {
    .my-info-page-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        h1 {
            margin-bottom: 30px;
        }
        .my-info-page-profile-img {
            border: 1px solid #000;
            border-radius: 80px;
            height: 80px;
            width: 80px;
            margin-bottom: 30px;
        }
        div {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 0;

            input {
                padding: 10px;
                border-radius: 10px;
            }
        }
        .my-info-page-btn {
            background: #000;
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 30px;
            margin-top: 25px;
            color: white;
            margin-bottom: 50px;
        }
        .my-info-page-box-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            text-align: center;
            color: gray;
            .my-info-page-logout {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                &::after {
                    content: "|";
                    position: absolute;
                    right: -3px;
                }
            }
            .my-info-page-delete {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
