.recent-order-container {
    .recent-order-wrap {
        margin: 20px 0 15px 0;
        .recent-order-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 1.5rem;
                margin: 10px;
            }

            div {
                padding: 10px 15px;
                color: black;
                display: flex;
                align-items: center;
                &::after {
                    margin-left: 2px;
                    content: ">";
                }
            }
        }

        .recent-order-menu-wrap-box {
            .recent-order-menu-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    .recent-order-menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;

                        img {
                            width: 170px;
                            height: 170px;
                            border-radius: 10px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
                        }
                    }
                    .recent-order-item-box {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 170px;
                        position: relative;
                        top: 50%; 
                        left: 50%;
                        transform: translate(-50%, -50%);
                        h2 {
                            width: 130px;
                            font-size: 13px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        p {
                            font-size: 13px;
                            &::before {
                                margin-right: 3px;
                                content: "★";
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}
